body {
    font-family: "Comfortaa";
    font-size: 18px;
}

.header {
    background-color: rgb(41, 160, 160);
    height: 100px;
    width: 800px;
}

.image {
    height: 120px;
    width: 120px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 50%;
    border: 5px solid #fff;
    background: url("icons/user-circle.png") no-repeat;
    background-size: contain;
    position: absolute;
}

.content {
    background-color: white;
    height: 220px;
    width: 794px;
    border-style: solid;
    border-color: rgb(185, 185, 185);
}

.content h1 {
    margin-top: 50px;
    margin-left: 25px;
}

.content p {
    margin-left: 25px;
}